body {
    background-color:turquoise;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display:flex;
    flex-flow: column;
    justify-content:center;
    align-items:center;
}
body *{    
    display:flex;
    flex-flow: column;
    justify-content:center;
    align-items:center;
}
textarea{
    color:yellow;
    background-color: green;
    border-radius: 12px;
    height:100px;
    width:800px;
    outline: none;
}
textarea::placeholder{
    color:cyan;
}
button{
    color:yellow;
    background-color: green;
    border-radius: 12px;
    border-color: green;
    height:30px;
    width:200px;
    outline: none;
}
input[type='file']{
    color:yellow;
    background-color: green;
    border-radius: 12px;
    height:30px;
    width:200px;
    outline: none;
	opacity: 0;
	position: absolute;
}
#up{
    color:yellow;
    background-color: green;
    border-radius: 12px;
    height:30px;
    width:200px;
}